.bullet_item{
    margin-right: 15px;
}
.bullet_item--title{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.bullet_item--image{
    width: 80px;
    
}
.bullet_item--link{
    text-decoration: none;
}

@media screen and (min-width: 760px) {
    .bullet_item,
    .bullet_item--image{
        width: 100px;
    }   
}
