
.bullet__container{
    display: flex;
    overflow: auto;
}
.bullet__container::-webkit-scrollbar{
    height: 4px;
}
.bullet__container::-webkit-scrollbar-track,
.bullet__container::-webkit-scrollbar-thumb{
    background-clip: padding-box;
    background-color: transparent;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}
.bullet__container::-webkit-scrollbar-thumb{ 
    background-color: rgb(230, 39, 70);
}

.bullet_item{
    margin-right: 15px;
}
.bullet_item--title{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.bullet_item--image{
    width: 80px;

    min-width: 80px

    
}
.bullet_item--link{
    text-decoration: none;
}

@media screen and (min-width: 760px) {
    .bullet_item,
    .bullet_item--image{
        width: 100px;

        min-width: 100px

    }   
}
